* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


body {
    background-color: #ff9090;
    color: dimgrey;
    font-size: 16px;
    line-height: 1.8;

}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 10px;
}

ol {
    list-style: none;
    counter-reset: li;
}

li {
    padding: 0 0 0 40px;
    margin-bottom: 10px;
}

li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
}

input,
textarea {
    border-radius: 8px;
    padding: 5px;
}

a {

    color: #60009b;
    font-size: 16px;

}

a:hover {
    color: #50005a;
}

table {
    border-collapse: collapse;
    border: 2px solid #000;
}

th,
td {
    border: 2px solid;
    padding: 10px 15px;
}





.header {
    width: 100%;
    background-color: #00a7ff;
    color: #1a0e13;
    padding: 10px;
}

.header-item {
    display: flex;
    align-items: center;

}

.item {
    margin-right: 50px;
}

.header-item__logo img {
    border-radius: 50%;

}

.header-item__text {
    text-transform: uppercase;
    letter-spacing: 1px;
}



.menu {
    margin: 30px 0 50px 0;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item a {
    text-decoration: none;
    font-size: 18px;
}




.content {
    margin: 20px 0 50px 0;
}

.content-item__table {
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: 20px;
}

.chess tr:nth-child(odd) td:nth-child(odd) {
    background: #000000;
}

.chess tr:nth-child(even) td:nth-child(even) {
    background: #000000;
}



footer {
    background-color: #00a7ff;
    padding: 50px 0 50px 0;
    color: #001d6c;
}

.footer__text {
    text-align: right;
}
